<%- include('../templates/header'); -%>

    <div class="container mt-5">
        <h2>Formulaire de contact</h2>
        <div class="alert alert-success d-none">Contact envoyé avec succès</div>
        <form>
            <div class="mb-3">
                <label for="nom" class="form-label">Nom</label>
                <input type="text" class="form-control" id="nom" placeholder="Entrez votre nom" name="nom">
                <span class="nom text-danger"></span>
            </div>
            <div class="mb-3">
                <label for="email" class="form-label">Email</label>
                <input type="text" class="form-control" id="email" placeholder="Entrez votre email" name="email">
                <span class="email text-danger"></span>
            </div>
            <div class="mb-3">
                <label for="commentaire" class="form-label">Commentaire</label>
                <textarea name="comment" class="form-control" id="commentaire" rows="4" placeholder="Entrez votre commentaire"></textarea>
                <span class="comment text-danger"></span>
            </div>
            <button type="submit" class="btn btn-primary">Envoyer</button>
        </form>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/axios@1.6.7/dist/axios.min.js"></script>
    <script>
        const form = document.querySelector('form')
        let btn = document.querySelector('button[type="submit"]')
        form.addEventListener('submit', async (e) => {
            e.preventDefault()
            btn.disabled = true
            document.querySelector('.nom').innerText = ''
            document.querySelector('.email').innerText = ''
            document.querySelector('.comment').innerText = ''

            let nom = document.querySelector('#nom').value
            let email = document.querySelector('#email').value
            let comment = document.querySelector('#commentaire').value

            axios.post('http://localhost:5000/',{
                nom,
                email,
                comment
            })
                .then(function (response) {
                    // handle success
                    document.querySelector('.nom').innerText = ''
                    document.querySelector('.email').innerText = ''
                    document.querySelector('.comment').innerText = ''
                    document.querySelector('#nom').value = ''
                    document.querySelector('#email').value = ''
                    document.querySelector('#commentaire').value = ''
                    document.querySelector('.alert-success').classList.remove('d-none')
                })
                .catch(function (error) {
                    // handle error
                    error.response.data.forEach(function (error) {
                        document.querySelector('.' + error.path).innerText = error.message
                    })
                })
                .finally(function () {
                    // always executed
                    btn.disabled = false
                });
        })
    </script>

<%- include('../templates/footer'); -%>